
:root {
    --colorPrimary: #05D781;
    --colorSecondary: #039375;
    --colorText: #262626;
    --colorTextLogo: #00a651;
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorGray: #cccccc;
    --fontSizeTitle: 60px;
    --fontSizeText: 20px;
    --bgColor1: #fcf7f7;
    --title-p-color: #f53626;
    --bgColorFooter: #dff5eb;
    }





/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorWhite);
    color: var(--colorText);
    position: relative;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--colorText);
}

.container {
    max-width: 1399px;
    margin: auto;
    
}

.section__inner {
    padding-top: 100px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--colorWhite);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header img {
    width: 90px;
    height: 90px;

}



.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header__content li {
    padding: 55px 15px;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo .logo_text{
    color: var(--colorTextLogo);
}

nav ul {
    display: flex;
    margin-right: 30px;
}

nav {
    display: flex;
    align-items: center;
}
.header__content nav i{
    font-size: 9px;
    margin-right: -3px;
    vertical-align: middle;
}

.header__content li a {
    font-size: 15px;
    font-weight: 500;
    color: var(--colorText);
}
.header__content li span {
    display: inline-block;
    transition: all 0.3s;
    margin-right: 4px;
}

.header__content li:hover a {
    color: var(--colorPrimary);
}

.header__content a:hover span {
    animation-name: upToDown;
    animation-duration: 0.3s;
}

/* INTRO */
.carousel {
    padding-top: 120px;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 86.5vh; /* Điều chỉnh chiều cao theo nhu cầu */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

/* Tùy chỉnh navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

#carousel .mySwiper .swiper-button-next{
    color: '#fff';
    z-index: 999;
}

/* Tùy chỉnh pagination */
.swiper-pagination-bullet {
    background: var(--colorWhite);
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--colorSecondary); /* Màu bạn muốn cho bullet đang active */
}

/* ABOUT */
.about {
    /* background-image: url(../assets/img/preview.jpg); */
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-bottom: 85px;
}

.about__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__left {
    width: 60%;
    position: absolute;
    left: -13%;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
}

.about__right {
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;
    width: 40%;
}
.about__right .title h3{
    font-size: var(--fontSizeTitle);
    color: var(--colorSecondary);
}

.about__right p{
    font-size: var(--fontSizeText);
    
}


.about__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about__right {
    width: 50%;
}

.about__right p {
    margin-bottom: 15px;
}

.about__right i {
    color: var(--colorSecondary);
    font-weight: 500;
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.about__right ul {
    margin-bottom: 30px;
}

.btn-gradient {
    background-image: linear-gradient(to right, var(--colorPrimary) 0, var(--colorSecondary) 51%, var(--colorPrimary) 100%);
    background-size: 200%;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    line-height: 1.2;
}

.btn-gradient a{
    color: var(--colorWhite);
    font-weight: 600;
}

.btn-gradient:hover {
    background-position: right center;
}

/* NUMBER */
.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px;
}

.number__content {
    display: flex;
    justify-content: space-around;
}

.number__item {
    width: 25%;
}

.number__item i {
    font-size: 45px;
    color: #ffffff;
    background-image: linear-gradient(to right, var(--colorPrimary) 0, var(--colorSecondary) 51%, var(--colorPrimary) 100%);
    background-size: 200%;
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number__item p:first-of-type {
    color: #F55F8D;
    font-size: 65px;
    line-height: 1;
    font-weight: 700;

}

.number__item p:last-of-type {
    font-size: 18px;
}

/* PRODUCT */
.product {
    /* background-image: url(../assets/img/preview.jpg); */
    /* background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat; */
    overflow: hidden;
    padding-bottom: 85px;
    /* background-color: var(--bgColor1); */
}

.product__content {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.product__right {
    width: 70%;
    /* position: absolute;
    right: -13%; */
    /* visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft; */
    margin-left: 50px;
}



.product__left {
    visibility: visible;
    /* animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight; */
    width: 30%;
   
}
.product__left .title h3{
    font-size: 50px;
    color: var(--colorSecondary);
}

.product__left p{
    font-size: var(--fontSizeText);
}

/* .product__right img {
    width: 100%;
    border-radius: 0 100px 100px 0;
} */

.product__left p {
    margin-bottom: 15px;
}

.product__left i {
    color: var(--colorSecondary);
    font-weight: 500;
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.product__left ul {
    margin-bottom: 30px;
}

.product__view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.product__item {
    background-color: transparent;
    box-shadow: none;
    border-radius: 10px;
    padding: 80px 40px;
    transition: all 0.5s;
    border: 3px solid transparent;
    border-image: 100 round;

}

.product__item img {
    width: 100%;

}

.product__item p {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.product__item:hover {
    background-color: #ffffff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    /* border-color: #039375;
    border-width: 1px; */
}

/* BLOG */
.blog {
    background-image: url(../img/bg16.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin-bottom: 100px;
    
}

.blog .title{
    padding-bottom: 85px;
    
}
.blog .title h3{
    font-size: 50px;
    color: var(--colorSecondary);
}

.blog .title h4{
    font-size: 30px;
    color: var(--colorText);
}

.blog__item {
    background-color: var(--bgColor1);
    border-radius: 10px;
    
}

.blog__header {
    position: relative;
    height: 300px;
}

.blog__header img {
    border-radius: 10px;
    height: 300px;
    
}

.blog__header p {
    position: absolute;
    left: 20px;
    bottom: -35px;
    background: linear-gradient(to right, var(--colorPrimary) 0, var(--colorSecondary) 51%, var(--colorPrimary) 100%);
    background-size: 200%;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

.blog__body {
    padding: 30px 15px 20px 15px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 20px;
    height: 170px;
}

.blog__body h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog__body p{
    max-height: 3em;          /* Giới hạn chiều cao (ví dụ: 3 dòng) */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer i {
    color: var(--colorSecondary);
    font-size: 22px;
    vertical-align: sub;
    margin-right: 5px;
}

.blog__footer p:first-of-type {
    margin-right: 20px;
}

.blog__footer p:first-of-type span {
    color: var(--colorSecondary);
}

.blog__footer p{
    vertical-align: middle;
}
/* FOOTER */
footer {
    background-color: var(--bgColorFooter);
    color: #ffffff;
  }
  
  .footer__content h3 {
    font-size: 25px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--colorText);
  }
  
  .footer-contact span {
    color: var(--colorText);
    font-weight: 700;
  }
  
  .footer__content a,
  .footer__content li,.footer__content p {
    color: var(--colorText);
    margin-bottom: 10px;
    font-size: 20px;
  }

  .footer__content ul{
    padding-left: 0;
  }
  
  .footer__content a:hover {
    color: var(--colorSecondary);
  }
  
  .footer-social span {
    margin-right: 20px;
    transition: all 0.5s;
    margin-top: 10px;
  }
  
  .footer__bottom {
    padding: 20px 0;
    border-top: 1px solid rgba(105, 105, 105, 0.1);
  }

  .footer__bottom p{
    color: var(--colorText);
  }
  
  .footer__bottom span {
    color: var(--colorSecondary);
  }

  input{
    padding: 10px ;
    width: 90%;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-left: 10px;
  }

  input:focus{
    outline: none;
    border-color: var(--colorSecondary);
    border-width: 1px;
  }

  .footer__content .mail{
    display: flex;
    align-items: center;
  }
  

